@(article: model.Article, logged: Boolean, comments: List[model.Comments])

<!DOCTYPE html>
<link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
<html lang="en">
    @header(logged)
    <body class="white">
        <div class="summary">
            <div class="summary_title">@article.getTitle</div>
            <div class="text_summary">
                @Html(article.getText.replaceAll("\\n", "<br /><br/>").replaceAll("\\r", "<br /><br />"))
            </div>
            <div class="author">By: @article.getAuthor</div>

            @for(comment <- comments) {
                <div class="comment vertical2">
                    <div class="horizontal">
                        <div class="small_profile_picture_container">
                            <span class="small_profile_icon glyphicon glyphicon-user"></span>
                        </div>
                        <span class="comment_author">@comment.getUserName    @comment.getCreationDate</span>
                    </div>
                    <div class="comment_text">@comment.getComments</div>
                </div>
            }

            <form method="POST" class="fill" action="comment">
                <input type="hidden" name="articleId" value=@article.getId >
                <textarea class="form-control empty_comment" placeholder="Comments" name="comment"></textarea>
                <button class="btn btn-primary comment_button" type="submit">Post</button>
            </form>
        </div>
    </body>
</html>