@(error: Boolean, logged: Boolean)

<!DOCTYPE html>
<link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
<html lang="en">
    @header(logged)
<body class="login_background">
    <div class="register_form">
        <form method="post" action=@routes.UserController.createUser()>
            <div class="login_title">Register</div>
            <div class="form-group">
            <label for="firstNameInput">First name</label>
            <input type="text" class="form-control" id="firstNameInput" placeholder="First name" name="firstName">
            </div>
            <div class="form-group">
            <label for="lastNameInput">Last name</label>
            <input type="text" class="form-control" id="lastNameInput" placeholder="Last name" name="lastName">
            </div>
            <div class="form-group">
            <label for="emailInput">Email</label>
            <input type="email" class="form-control" id="emailInput" placeholder="Email" name="email">
            </div>
            <div class="form-group">
            <label for="passwordInput">Password</label>
            <input type="password" class="form-control" id="passwordInput" placeholder="Password" name="password">
            </div>
            <div class="horizontal">
                <button type="submit" class="btn btn-primary center-block register_button">register</button>
            </div>
            @if(error) {
                <div class="error">Invalid form</div>
            }
        </form>
    </div>
</body>
</html>